body{
    background-color: rgb(124, 192, 248);
    text-align: center;
    margin-top: 10vh;
    font-size: 8vmin;
}
.app{
    margin: 10vh auto;
    width:fit-content;
    height: fit-content;
    border:5px solid rgb(141, 200, 248);
    padding: 2vmin;
    font-size: large;
}
.btn{
    border-radius: 1vmin;
    font-size: large;
}
select{
    border-radius: 1vmin;
    font-size: large;
}
input{
    font-size: large;
}